.template-grid{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;
margin-top:30px;

}


.template-card{

background:white;
padding:40px;
border-radius:20px;
cursor:pointer;
box-shadow:0 5px 15px rgba(0,0,0,.1);
transition:.3s;

}


.template-card:hover{

transform:translateY(-5px);

}


.template-card.active{

border:3px solid #2563eb;

}


.template-card h2{

margin-bottom:15px;

}


.save-template{

margin-top:40px;
padding:14px 30px;
background:#2563eb;
color:white;
border:none;
border-radius:30px;
font-size:16px;
cursor:pointer;

}


.save-template:hover{

background:#1d4ed8;

}



@media(max-width:768px){

.template-grid{

grid-template-columns:1fr;

}

}